.composition{
    background-image: url(img/bg.jpg);
    width: 600px;
    height: 400px;
    position: relative;
}
.planet-1{
    position: absolute;
    left: 170px;
    top: 25px;
    z-index: 1;
}
.planet-2{
    position: absolute;
    top: 85px;
    left: 60px;
    z-index: 2;
}
.planet-3{
    position: absolute;
    z-index: 3;
    top: 135px;
    left: 150px;
}
#img1{
    position: absolute;
    z-index: 4;
    height: 50px;
    top: 150px;
    left: 150px;
}
#img2{
    position: absolute;
    left: 220px;
    height: 50px;
    top: 150px;
    z-index: 4;
}
#img3{
    position: absolute;
    z-index: 4;
    height: 50px;
    top: 150px;
    left: 80px;
}
#start{
    position: absolute;
    z-index: 5;
    height: 50px;
    width: 150px;
    top: 250px;
    left: 200px;
    border: 1px solid black;
    border-radius: 90px;
    background-color: #e8ccb6;
    color: #ae8a76;
}