#grayscale{
    filter: grayscale();
}

#sepia{
    filter: sepia();
}

#saturate{
    filter: saturate(50%);
}

#huerotate{
    filter: hue-rotate(100deg);
}

#invert{
    filter: invert();
}

#contrast{
    filter: contrast(50%);
}

img{
    height: 250px;
    margin: 2px;
}

.flex{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div{
    margin: 10px;
}