.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: space-between; */
}
.flex div {
    width: 250px;
    height: 300px;
    background-color: blue;
    color: white;
    margin: 3px;
}
