*{
    margin: 5px;
}

.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grad1{
    width: 400px;
    height: 200px;
    border: 1px solid;
    box-sizing: border-box;
    background: repeating-linear-gradient(to bottom, black 10px 20px,white 20px 30px  );
}

.grad2{
    width: 400px;
    height: 50px;
    border: 1px solid;
    box-sizing: border-box;
    background: repeating-linear-gradient(45deg, red 5px 10px,white 10px 15px  );
}

.grad3{
    width: 400px;
    height: 500px;
    border: 1px solid;
    box-sizing: border-box;
    background: repeating-radial-gradient(circle, black 5px 10px,white 10px 15px  );
}