*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    outline: none;
}

body{
    background: #2C3E50;
}

header::after, .container::after{
    content: "";
    display: table;
    clear: both;
}

.container {
    display: inline;
}

header{
    width: 100%;
    background: #16A085;
    position: relative;
    padding: 15px 0;
    margin-bottom: 30px;
}