.flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.b1{
    border: 1px solid;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    margin: 20px;
    box-shadow: 10px 10px 10px gray;
}

.b2{
    border: 1px solid;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    margin: 20px;
    box-shadow: 10px 10px 10px gray, -10px -10px 10px gray;
}

.b3{
    border: 1px solid;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    margin: 20px;
    box-shadow: inset 3px 2px 5px  rgb(0, 0, 0, 0.6);
}