*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
nav{
    text-align: center;
    margin-top: 45vh;
}

a{
    width: 40px;
    height: 40px;
    background-color: #ddd;
    color: #333;
    text-decoration: none;
    margin: 6px;
    padding: 35px 40px;
}

a:hover{
    background-color: #ccc;
}

a:active{
    background-color: #d10953;
    color: #fff;
}