header{
    border: 1px solid;
}
main{
    display: flex;
    height: 60vh;
    flex-direction: row;
}
aside{
    border: 1px solid;
    width: 15%;
}
section{
    border: 1px solid;
    width: 85%;
}
footer{
    border: 1px solid;  
    height: 30vh;
}