*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: .5s ease-in-out;
}

@font-face {
    font-family: "AlbertusNova";
    src: url(albertusnova_bold.otf);
}

@font-face {
    font-family: 'AlbertusNovaLight';
    src: url(albertusnovalight.otf);
}

@font-face {
    font-family: 'AlbertusNovaThin';
    src: url(albertusnovathin.otf);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    outline: none;
}

body::-webkit-scrollbar {
    display: none;
}
  
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1;
    background: #20212B;
    
}

/* header */

header::after, .container::after, .footer::after{
    content: "";
    display: table;
    clear: both;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    padding: 0 15px;
}

header{
    width: 100%;
    background: #20212B;
    box-shadow: 3px 3px 1px rgba(0,0,0,.05);
    position: relative;
    padding: 15px 0;
    margin-bottom: 30px;
}

.logo{
    top: 10px;
    position: absolute;
    display: block;
    float: left;
    
}

.logo img{
    width: 50px;
    height: 50px;
    
}

#menu{
    float: right
}

#menu li{
    display: inline-block;
    margin-right: 30px;
}

#menu a{
    font-family: 'AlbertusNovaLight';
    color: #E75654;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    display: block;
    line-height: 40px;
    
    text-shadow: 0px 0px 20px #000;
}

#menu a:hover{
    color: white;
}

#menu li:last-child {
    margin-right: 0;
}

#searchform {
    float: right;
    margin-left: 46px;
    display: inline-block;
    position: relative;
    
}

#searchform input{
    width: 170px;
    float: left;
    border: none;
    border: 2px solid #E75654;
    border-radius: 20px;
    background-color: #67343A;
    overflow: hidden;
    outline: none;
    padding-left: 10px;
    height: 40px;
    font-size: 16px;
    /* font-style: italic; */
    font-family: 'AlbertusNovaThin';    
    /* font-family: Arial, Helvetica, sans-serif; */
    color: white;
    
    box-shadow: 0px 0px 0px #000 ;
}


#searchform input:focus{
    
    font-style: normal;
    /* outline: 2px solid #0F595E; */
}

.nav-toggle{
    display: none;
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 20%;
    background-color: #E75654;
    margin-left: 20px;
}

.nav-toggle span{
    display: block;
    position: absolute;
    border-radius: 30px;
    top: 19px;
    left: 8px;
    right: 8px;
    height: 2px;
    background: white;
}

.nav-toggle span::before, .nav-toggle span::after{
    position: absolute;
    border-radius: 30px;
    display: block;
    background: white;
    width: 100%;
    height: 2px;
    left: 0;
    content: "";
}

.nav-toggle span::before{
    top: -8px;
}

.nav-toggle span::after{
    bottom: -8px;
}

/* main */


.banner img{
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 70px;
}

.banner p{
    font-family: "AlbertusNova";
    margin-left: 50px;
    font-size: 60px;
    line-height: 113%;
    letter-spacing: 5px;
    font-weight: 600;
    color: #ffffffee;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px #000;
}
#playbutton{
    cursor: pointer;
    margin: 50px;
    width: 400px;
    height: 130px;
    border: 5px solid darkgray;
    border-radius: 8px;
}

#playbutton:hover{
    border: 5px solid white;
}

#playbutton a{
    margin-top: 20px;
    display: grid;
    justify-content: center;
    font-family: 'AlbertusNovaLight';
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: 600;
    color: #ffffffee;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px #000;
}
#playbutton p{
    padding-top: 15px;
    padding-left: 40px;
    font-family: 'AlbertusNovaThin';
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 600;
    color: darkgrey;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px #000;
}

#aboutgame{
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#aboutgame h1{
    font-family: 'AlbertusNova';
    text-align: center;
    margin: 5px;
    padding: 50px;
    font-size: 100px;
    letter-spacing: 0px;
    line-height: 85%;
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 0px 20px #000; 
}
#aboutgame h1 span{
    color: #E2DACE90;
    font-size: 60px;
    margin-bottom: 0;
}

#aboutgame p{
    font-family: 'AlbertusNovaLight', serif;
    text-align: center;
    margin: 5px;
    padding: 50px;
    padding-top: 0;
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 115%;
    color: white;
    text-shadow: 0px 0px 20px #000; 
}

#heroes h1{
    text-align: center;
    margin-left: 50px;
    font-family: 'AlbertusNova';
    font-size: 75px;
    line-height: 113%;
    letter-spacing: 4px;
    font-weight: 600;
    color: #ffffffee;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px #000;
}
#heroes h1 span{
    color: #E75654;
}


.flexblock{
    display: flex;
}
.flexblock img{
    height: 300px;
    width: 800px;
    margin: 30px;
    
    box-shadow: 0px 0px 20px #000;
}
.flexblock p{
    font-family: 'AlbertusNovaLight';
    text-align: left;
    margin: 5px;
    padding-top: 100px;
    padding-left: 30px;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 115%;
    font-weight: 100;
    color: #f4f4ef;
    text-shadow: 0px 0px 20px #000;
}

#news{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
#newstitle{
    font-family: 'AlbertusNova';
    text-align: center;
    margin: 5px;
    padding: 50px;
    font-size: 100px;
    letter-spacing: 0px;
    line-height: 85%;
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 0px 20px #000; 
}

#news img{
    width: 350px;
    height: 200px;
    margin: 23px;
    border: 2px solid #E75654;
    box-shadow: 0px 0px 20px #000;
}


#news div{
    background-color: #813B3F;
    height: 320px;
    width: 400px;
    border: 3px solid #1E202A;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #000;
    cursor: pointer;
}

#new1:hover{
    border: 3px solid darkgray;
    border-radius: 8px;
}

#new2:hover{
    border: 3px solid darkgray;
    border-radius: 8px;
}
#news p{
    font-family: 'AlbertusNovaLight';
    text-align: center;
    margin: 5px;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 115%;
    font-weight: 100;
    color: #f4f4ef;
    text-shadow: 0px 0px 20px #000;
}
#new1 p span{
    font-style: 'AlbertusNova';
}
#new2 p span{
    font-style: 'AlbertusNova';
}
#new2 p{
    font-size: 25px;
} 
#new2{
    margin-left: 50px;
} 

/* footer */


footer{
    margin-top: 50px;
    height: 100px;
    background-color: black;
}

.copyright{
    color: gray;
    text-align: center;
    padding-top: 15px;
}
#logovalve{
    max-height: 30px;
    margin: 15px;
}

#logodota{
    max-height: 30px;
    margin: 15px;
}

#logos{
    display: flex;
    justify-content: center;

}

/* media */

@media (max-width: 768px) {
    #news{
        display: block;
    }
    #newstitle{
        font-size: 75px;
        margin: 50px 0;
        padding: 10px 0;
    }
    #new1{
        margin-left: 50px;
        margin-bottom: 50px;
    }
    #aboutgame h1{
        text-wrap: nowrap;
        font-size: 45px;
        padding-bottom: 35px;
        padding-top: 45px;
    }
    #aboutgame h1 span{
        font-size: 30px;
    }
    #aboutgame p{
        margin-top: 5px;
        font-size: 20px;
        
        padding-bottom: 40px;
        margin: 0;
    }
    #heroes h1{
        font-size: 45px;
        padding: 0;
        margin: 0;
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .flexblock p{
        font-size: 25px;
        margin-top: 0;
        padding-top: 30px;
    }
    .flexblock{
        display: block;
    }
    .flexblock img{
        width: 420px;
        height: 220px;
        padding-left: 15px;
        box-shadow: 20px 20px 20px #000;
    }
    #playbutton{
        display: none;
    }
    .banner img{
        top: 60px;
    }
    .banner p{
        margin-left: 10px;
        letter-spacing: 2px;
        font-weight: 900;
        font-size: 24px;
    }
    .nav-toggle{
        display: block;
    }
    header{
        padding: 10px 0;
    }
    .logo{
        top: 5px;
    }
    #menu{
        max-width: 0;
        background: white;
        position: absolute;
        overflow: hidden;
        top: 63px;
        right: 0px;
        left: 0px;
        margin: 0;
        padding: 0;
        float: none;
        z-index: 3;
    }
    #menu li{
        display: block;
        text-align: center;
        border-bottom: 1px solid #2C3E50;
        margin-right: 0;
    }
    #menu a:hover{
        color: black;
    }
}