.b1{
   font-size: small;
}

.b2{
    font-size: medium;
}

.b3{
    font-size: large;
}

button{
    border-radius: 1em;
    border: 0px;
    background-color: darkgray;
    box-shadow: 0 0 1em gray;  
    padding: 1em;
}

a{
    text-decoration: none;
    color: black;
}