*{
    margin: 0;
    padding: 0;
}

header{
    background-color: blueviolet;
    color: white;
    text-align: center;
    width: 100%;
    position: fixed;
    padding: 10px;
}
section{
    border: 1px solid;
    margin: 50px 30px;
    padding: 25px 15px;
    /*margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 30px;
    margin-right: 30px;*/
}
p{

}